<%= render "shared/banner" %>

<div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4 isotope">
        <div class="card text-center ">
          <%= render "shared/card", cocktail: cocktail %>
        </div>
      </div>
    <% end %>
  </div>
</div>
