<%= render "shared/banner" %>

<div class="container">
    <div class="row content">
      <h4 class="divider text-center">
        <span class="sans">Enjoy your Favourites...</span>
        <hr>
      </h4>
      <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-6 col-md-4 ">
          <%= render "shared/card", cocktail: cocktail %>
      </div>
    <% end %>
  </div>
</div>
