<% if cocktail.photo %>
  <div class="thumbnail text-center">
    <img target ='<% cocktail_path(cocktail) %>' src="<%= cl_image_path cocktail.photo.path, height: 300, width: 400, :crop=>"fill" %>" alt="xxxx">
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
  </div>
<% else %>
  <div class="card-header" style="background-image: url('http://www.seriouseats.com/images/2014/11/20141104-cocktail-party-old-fashioneds-holiday-vicky-wasik-3.jpg')">
  </div>
<% end %>

